In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Read dataset files

train_df_cleaned = pd.read_csv('dataset/train_data_cleaned.csv')

In [3]:
#Clean up performed in credit-default-ml.ipynb as well as getdummies functionddd

In [4]:
# #Drop all rows with blank fields
# test_df_drop_na = test_df.dropna(how='any')
# test_df_drop_na

In [5]:
# #Drop row with gender not Male or Female
# test_df_drop_xna = test_df_drop_na.loc[test_df_drop_na["gender"] != 'XNA']
# test_df_drop_xna

In [6]:
# # Drop number of days employed column and put into a cleaned dataframe
# test_df_cleaned = test_df_drop_xna.drop(["no_of_days_employed", "name", "customer_id"], axis=1)
# test_df_cleaned

In [7]:
# test_df_cleaned = pd.get_dummies(test_df_cleaned, columns=['gender', 'owns_car', 'owns_house',
#        'occupation_type'], drop_first=True)

In [8]:
# #Export dataframe to CSV
# test_df_cleaned.to_csv("dataset/test_data_cleaned.csv", index=False, header=True)

## Training Data

In [9]:
# #Drop all rows with blank fields
# train_df_drop_na = train_df.dropna(how='any')
# train_df_drop_na

In [10]:
# #Drop row with gender not Male or Female
# train_df_drop_xna = train_df_drop_na.loc[train_df_drop_na["gender"] != 'XNA']
# train_df_drop_xna

In [11]:

# #Drop number of days employed column and put into cleaned dataframe
# train_df_cleaned = train_df_drop_xna.drop(["no_of_days_employed", "name", "customer_id"], axis=1)
# train_df_cleaned

In [12]:

# train_df_cleaned = pd.get_dummies(train_df_cleaned, columns=['gender', 'owns_car', 'owns_house',
#        'occupation_type'], drop_first=True)

In [13]:
# #Export dataframe to CSV
# train_df_cleaned.to_csv("dataset/train_data_cleaned.csv", index=False, header=True)

In [14]:
#End clean up

-------------

In [15]:
#Ricardo Start

In [16]:
train_df_cleaned

,age,no_of_children,net_yearly_income,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,...,occupation_type_Low-skill Laborers,occupation_type_Managers,occupation_type_Medicine staff,occupation_type_Private service staff,occupation_type_Realty agents,occupation_type_Sales staff,occupation_type_Secretaries,occupation_type_Security staff,occupation_type_Unknown,occupation_type_Waiters/barmen staff
0,46,0.0,107934.04,1.0,1.0,33070.28,18690.93,73,544.0,2,...,0,0,0,0,0,0,0,0,1,0
1,29,0.0,109862.62,2.0,0.0,15329.53,37745.19,52,857.0,0,...,0,0,0,0,0,0,0,0,0,0
2,37,0.0,230153.17,2.0,0.0,48416.60,41598.36,43,650.0,0,...,0,0,0,0,0,0,0,0,0,0
3,39,0.0,122325.82,2.0,0.0,22574.36,32627.76,20,754.0,0,...,0,0,0,0,0,0,0,0,0,0
4,46,0.0,387286.00,1.0,0.0,38282.95,52950.64,75,927.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43503,55,2.0,96207.57,4.0,0.0,11229.54,29663.83,82,907.0,0,...,0,0,0,0,0,0,0,0,1,0
43504,31,0.0,383476.74,2.0,1.0,43369.91,139947.16,32,679.0,0,...,0,0,0,0,0,0,0,0,0,0
43505,27,0.0,260052.18,2.0,0.0,22707.51,83961.83,46,727.0,0,...,0,0,0,0,0,0,0,0,0,0
43506,32,0.0,157363.04,2.0,0.0,20150.10,25538.72,92,805.0,0,...,0,0,0,0,0,0,0,0,0,0
43507,38,1.0,316896.28,3.0,0.0,34603.78,36630.76,26,682.0,0,...,0,0,0,0,0,0,0,0,1,0

In [17]:
# Assign X (data) and y (target)
X = train_df_cleaned.drop("credit_card_default", axis=1)
y = train_df_cleaned["credit_card_default"]
print(X.shape, y.shape)

(43508, 32) (43508,)

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [19]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)


X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1000)
classifier

LogisticRegression(max_iter=1000)

In [21]:
#Fit(train) 

lgR=classifier.fit(X_train_scaled, y_train)

In [22]:
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.9802335202721338
Testing Data Score: 0.9786705893169072

In [23]:
predictions = classifier.predict(X_test)
print(f"First 35 Predictions:   {predictions[:35]}")
print(f"First 35 Actual labels: {y_test[:35].tolist()}")

First 35 Predictions:   [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
First 35 Actual labels: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [24]:
results=pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [25]:
results

       Prediction  Actual
0               0       0
1               0       0
2               0       0
3               0       0
4               0       0
...           ...     ...
10872           0       0
10873           0       0
10874           0       0
10875           0       0
10876           0       0

[10877 rows x 2 columns]

In [26]:
#Save the model
import joblib

filename = 'saved_models/lgR_trained.joblib'
joblib.dump(lgR, filename)

['saved_models/lgR_trained.joblib']

In [27]:
#Load the model
loaded_model = joblib.load(filename)
print('Test Acc: %.3f' % loaded_model.score(X_test_scaled, y_test))

Test Acc: 0.979

In [28]:
#Ricardo End

-------------

In [ ]:
#Kelly Start

In [ ]:
#Kelly End

-------------

In [ ]:
#Timmy Start

In [ ]:
#Timmy End

-------------

In [ ]:
#Feipeng Start

In [ ]:
#Feipeng End

-------------

In [ ]:
#Jumaan Start

In [ ]:
#Jumaan End