In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
#Read dataset files
test_df = pd.read_csv('dataset/test.csv')
train_df = pd.read_csv('dataset/train.csv')
sample_df = pd.read_csv('dataset/sample_submission.csv')

In [21]:
#Clean up

In [22]:
#Show test dataset in dataframe
test_df.head()

,customer_id,name,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months
0,CST_142525,Siva,52,F,Y,N,0.0,232640.53,998.0,Unknown,2.0,0.0,14406.73,26524.40,4,779.0,0,0
1,CST_129215,Scott,48,F,N,N,1.0,284396.79,1338.0,Unknown,3.0,0.0,57479.99,68998.72,70,806.0,0,0
2,CST_138443,Victoria,50,F,N,N,1.0,149419.28,1210.0,Unknown,3.0,0.0,21611.01,25187.80,71,528.0,2,0
3,CST_123812,John McCrank,30,F,N,N,1.0,160437.54,503.0,Laborers,2.0,1.0,28990.76,29179.39,9,815.0,0,0
4,CST_144450,Martinne,52,M,N,Y,0.0,233480.37,157.0,Laborers,2.0,1.0,54213.72,82331.82,82,613.0,1,1

In [23]:
#Drop all rows with blank fields
test_df_drop_na = test_df.dropna(how='any')
test_df_drop_na

,customer_id,name,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months
0,CST_142525,Siva,52,F,Y,N,0.0,232640.53,998.0,Unknown,2.0,0.0,14406.73,26524.40,4,779.0,0,0
1,CST_129215,Scott,48,F,N,N,1.0,284396.79,1338.0,Unknown,3.0,0.0,57479.99,68998.72,70,806.0,0,0
2,CST_138443,Victoria,50,F,N,N,1.0,149419.28,1210.0,Unknown,3.0,0.0,21611.01,25187.80,71,528.0,2,0
3,CST_123812,John McCrank,30,F,N,N,1.0,160437.54,503.0,Laborers,2.0,1.0,28990.76,29179.39,9,815.0,0,0
4,CST_144450,Martinne,52,M,N,Y,0.0,233480.37,157.0,Laborers,2.0,1.0,54213.72,82331.82,82,613.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11377,CST_138460,Jonathan,46,F,N,Y,1.0,273370.74,8691.0,High skill tech staff,2.0,0.0,36527.86,72892.67,37,794.0,0,0
11378,CST_142412,Solarina,53,F,N,N,0.0,266824.38,3051.0,Sales staff,1.0,0.0,17791.56,64483.93,74,823.0,0,0
11380,CST_134002,Robin,27,M,Y,Y,1.0,364652.81,3431.0,Laborers,3.0,0.0,28658.55,69336.96,67,674.0,0,0
11381,CST_146856,Lauren,36,F,N,Y,0.0,128769.02,16320.0,Medicine staff,1.0,0.0,11527.38,26908.03,17,684.0,0,0
11382,CST_112001,Lynnley Browning,45,F,N,Y,0.0,158543.43,9443.0,Medicine staff,2.0,0.0,30290.64,26071.88,64,930.0,0,0

In [24]:
#Drop row with gender not Male or Female
test_df_drop_xna = test_df_drop_na.loc[test_df_drop_na["gender"] != 'XNA']
test_df_drop_xna

,customer_id,name,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months
0,CST_142525,Siva,52,F,Y,N,0.0,232640.53,998.0,Unknown,2.0,0.0,14406.73,26524.40,4,779.0,0,0
1,CST_129215,Scott,48,F,N,N,1.0,284396.79,1338.0,Unknown,3.0,0.0,57479.99,68998.72,70,806.0,0,0
2,CST_138443,Victoria,50,F,N,N,1.0,149419.28,1210.0,Unknown,3.0,0.0,21611.01,25187.80,71,528.0,2,0
3,CST_123812,John McCrank,30,F,N,N,1.0,160437.54,503.0,Laborers,2.0,1.0,28990.76,29179.39,9,815.0,0,0
4,CST_144450,Martinne,52,M,N,Y,0.0,233480.37,157.0,Laborers,2.0,1.0,54213.72,82331.82,82,613.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11377,CST_138460,Jonathan,46,F,N,Y,1.0,273370.74,8691.0,High skill tech staff,2.0,0.0,36527.86,72892.67,37,794.0,0,0
11378,CST_142412,Solarina,53,F,N,N,0.0,266824.38,3051.0,Sales staff,1.0,0.0,17791.56,64483.93,74,823.0,0,0
11380,CST_134002,Robin,27,M,Y,Y,1.0,364652.81,3431.0,Laborers,3.0,0.0,28658.55,69336.96,67,674.0,0,0
11381,CST_146856,Lauren,36,F,N,Y,0.0,128769.02,16320.0,Medicine staff,1.0,0.0,11527.38,26908.03,17,684.0,0,0
11382,CST_112001,Lynnley Browning,45,F,N,Y,0.0,158543.43,9443.0,Medicine staff,2.0,0.0,30290.64,26071.88,64,930.0,0,0

In [25]:
# Drop number of days employed column and put into a cleaned dataframe
test_df_cleaned = test_df_drop_xna.drop(["no_of_days_employed", "name", "customer_id"], axis=1)
test_df_cleaned

,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months
0,52,F,Y,N,0.0,232640.53,Unknown,2.0,0.0,14406.73,26524.40,4,779.0,0,0
1,48,F,N,N,1.0,284396.79,Unknown,3.0,0.0,57479.99,68998.72,70,806.0,0,0
2,50,F,N,N,1.0,149419.28,Unknown,3.0,0.0,21611.01,25187.80,71,528.0,2,0
3,30,F,N,N,1.0,160437.54,Laborers,2.0,1.0,28990.76,29179.39,9,815.0,0,0
4,52,M,N,Y,0.0,233480.37,Laborers,2.0,1.0,54213.72,82331.82,82,613.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11377,46,F,N,Y,1.0,273370.74,High skill tech staff,2.0,0.0,36527.86,72892.67,37,794.0,0,0
11378,53,F,N,N,0.0,266824.38,Sales staff,1.0,0.0,17791.56,64483.93,74,823.0,0,0
11380,27,M,Y,Y,1.0,364652.81,Laborers,3.0,0.0,28658.55,69336.96,67,674.0,0,0
11381,36,F,N,Y,0.0,128769.02,Medicine staff,1.0,0.0,11527.38,26908.03,17,684.0,0,0
11382,45,F,N,Y,0.0,158543.43,Medicine staff,2.0,0.0,30290.64,26071.88,64,930.0,0,0

In [40]:
test_df_cleaned = pd.get_dummies(test_df_cleaned, columns=['gender', 'owns_car', 'owns_house',
       'occupation_type'], drop_first=True)

In [41]:
test_df_cleaned

,age,no_of_children,net_yearly_income,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,...,occupation_type_Low-skill Laborers,occupation_type_Managers,occupation_type_Medicine staff,occupation_type_Private service staff,occupation_type_Realty agents,occupation_type_Sales staff,occupation_type_Secretaries,occupation_type_Security staff,occupation_type_Unknown,occupation_type_Waiters/barmen staff
0,52,0.0,232640.53,2.0,0.0,14406.73,26524.40,4,779.0,0,...,0,0,0,0,0,0,0,0,1,0
1,48,1.0,284396.79,3.0,0.0,57479.99,68998.72,70,806.0,0,...,0,0,0,0,0,0,0,0,1,0
2,50,1.0,149419.28,3.0,0.0,21611.01,25187.80,71,528.0,2,...,0,0,0,0,0,0,0,0,1,0
3,30,1.0,160437.54,2.0,1.0,28990.76,29179.39,9,815.0,0,...,0,0,0,0,0,0,0,0,0,0
4,52,0.0,233480.37,2.0,1.0,54213.72,82331.82,82,613.0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11377,46,1.0,273370.74,2.0,0.0,36527.86,72892.67,37,794.0,0,...,0,0,0,0,0,0,0,0,0,0
11378,53,0.0,266824.38,1.0,0.0,17791.56,64483.93,74,823.0,0,...,0,0,0,0,0,1,0,0,0,0
11380,27,1.0,364652.81,3.0,0.0,28658.55,69336.96,67,674.0,0,...,0,0,0,0,0,0,0,0,0,0
11381,36,0.0,128769.02,1.0,0.0,11527.38,26908.03,17,684.0,0,...,0,0,1,0,0,0,0,0,0,0
11382,45,0.0,158543.43,2.0,0.0,30290.64,26071.88,64,930.0,0,...,0,0,1,0,0,0,0,0,0,0

In [26]:
#Export dataframe to CSV
test_df_cleaned.to_csv("dataset/test_data_cleaned.csv", index=False, header=True)

## Training Data Cleanup

In [27]:
train_df.head()

,customer_id,name,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,CST_115179,ita Bose,46,F,N,Y,0.0,107934.04,612.0,Unknown,1.0,1.0,33070.28,18690.93,73,544.0,2,1,1
1,CST_121920,Alper Jonathan,29,M,N,Y,0.0,109862.62,2771.0,Laborers,2.0,0.0,15329.53,37745.19,52,857.0,0,0,0
2,CST_109330,Umesh Desai,37,M,N,Y,0.0,230153.17,204.0,Laborers,2.0,0.0,48416.60,41598.36,43,650.0,0,0,0
3,CST_128288,Rie,39,F,N,Y,0.0,122325.82,11941.0,Core staff,2.0,0.0,22574.36,32627.76,20,754.0,0,0,0
4,CST_151355,McCool,46,M,Y,Y,0.0,387286.00,1459.0,Core staff,1.0,0.0,38282.95,52950.64,75,927.0,0,0,0

In [28]:
#Drop all rows with blank fields
train_df_drop_na = train_df.dropna(how='any')
train_df_drop_na

,customer_id,name,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,CST_115179,ita Bose,46,F,N,Y,0.0,107934.04,612.0,Unknown,1.0,1.0,33070.28,18690.93,73,544.0,2,1,1
1,CST_121920,Alper Jonathan,29,M,N,Y,0.0,109862.62,2771.0,Laborers,2.0,0.0,15329.53,37745.19,52,857.0,0,0,0
2,CST_109330,Umesh Desai,37,M,N,Y,0.0,230153.17,204.0,Laborers,2.0,0.0,48416.60,41598.36,43,650.0,0,0,0
3,CST_128288,Rie,39,F,N,Y,0.0,122325.82,11941.0,Core staff,2.0,0.0,22574.36,32627.76,20,754.0,0,0,0
4,CST_151355,McCool,46,M,Y,Y,0.0,387286.00,1459.0,Core staff,1.0,0.0,38282.95,52950.64,75,927.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45523,CST_130421,Doris,55,F,N,N,2.0,96207.57,117.0,Unknown,4.0,0.0,11229.54,29663.83,82,907.0,0,0,0
45524,CST_136670,Luciana,31,F,N,Y,0.0,383476.74,966.0,Accountants,2.0,1.0,43369.91,139947.16,32,679.0,0,0,0
45525,CST_145435,Jessica,27,F,N,Y,0.0,260052.18,1420.0,Core staff,2.0,0.0,22707.51,83961.83,46,727.0,0,0,0
45526,CST_130913,Tessa,32,M,Y,N,0.0,157363.04,2457.0,Laborers,2.0,0.0,20150.10,25538.72,92,805.0,0,0,0
45527,CST_160078,Gopinath,38,M,N,Y,1.0,316896.28,1210.0,Unknown,3.0,0.0,34603.78,36630.76,26,682.0,0,0,0

In [29]:
#Drop row with gender not Male or Female
train_df_drop_xna = train_df_drop_na.loc[train_df_drop_na["gender"] != 'XNA']
train_df_drop_xna

,customer_id,name,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,CST_115179,ita Bose,46,F,N,Y,0.0,107934.04,612.0,Unknown,1.0,1.0,33070.28,18690.93,73,544.0,2,1,1
1,CST_121920,Alper Jonathan,29,M,N,Y,0.0,109862.62,2771.0,Laborers,2.0,0.0,15329.53,37745.19,52,857.0,0,0,0
2,CST_109330,Umesh Desai,37,M,N,Y,0.0,230153.17,204.0,Laborers,2.0,0.0,48416.60,41598.36,43,650.0,0,0,0
3,CST_128288,Rie,39,F,N,Y,0.0,122325.82,11941.0,Core staff,2.0,0.0,22574.36,32627.76,20,754.0,0,0,0
4,CST_151355,McCool,46,M,Y,Y,0.0,387286.00,1459.0,Core staff,1.0,0.0,38282.95,52950.64,75,927.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45523,CST_130421,Doris,55,F,N,N,2.0,96207.57,117.0,Unknown,4.0,0.0,11229.54,29663.83,82,907.0,0,0,0
45524,CST_136670,Luciana,31,F,N,Y,0.0,383476.74,966.0,Accountants,2.0,1.0,43369.91,139947.16,32,679.0,0,0,0
45525,CST_145435,Jessica,27,F,N,Y,0.0,260052.18,1420.0,Core staff,2.0,0.0,22707.51,83961.83,46,727.0,0,0,0
45526,CST_130913,Tessa,32,M,Y,N,0.0,157363.04,2457.0,Laborers,2.0,0.0,20150.10,25538.72,92,805.0,0,0,0
45527,CST_160078,Gopinath,38,M,N,Y,1.0,316896.28,1210.0,Unknown,3.0,0.0,34603.78,36630.76,26,682.0,0,0,0

In [30]:
#Drop number of days employed column and put into cleaned dataframe
train_df_cleaned = train_df_drop_xna.drop(["no_of_days_employed", "name", "customer_id"], axis=1)
train_df_cleaned

,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,46,F,N,Y,0.0,107934.04,Unknown,1.0,1.0,33070.28,18690.93,73,544.0,2,1,1
1,29,M,N,Y,0.0,109862.62,Laborers,2.0,0.0,15329.53,37745.19,52,857.0,0,0,0
2,37,M,N,Y,0.0,230153.17,Laborers,2.0,0.0,48416.60,41598.36,43,650.0,0,0,0
3,39,F,N,Y,0.0,122325.82,Core staff,2.0,0.0,22574.36,32627.76,20,754.0,0,0,0
4,46,M,Y,Y,0.0,387286.00,Core staff,1.0,0.0,38282.95,52950.64,75,927.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45523,55,F,N,N,2.0,96207.57,Unknown,4.0,0.0,11229.54,29663.83,82,907.0,0,0,0
45524,31,F,N,Y,0.0,383476.74,Accountants,2.0,1.0,43369.91,139947.16,32,679.0,0,0,0
45525,27,F,N,Y,0.0,260052.18,Core staff,2.0,0.0,22707.51,83961.83,46,727.0,0,0,0
45526,32,M,Y,N,0.0,157363.04,Laborers,2.0,0.0,20150.10,25538.72,92,805.0,0,0,0
45527,38,M,N,Y,1.0,316896.28,Unknown,3.0,0.0,34603.78,36630.76,26,682.0,0,0,0

In [42]:
train_df_cleaned = pd.get_dummies(train_df_cleaned, columns=['gender', 'owns_car', 'owns_house',
       'occupation_type'], drop_first=True)

In [43]:
train_df_cleaned

,age,no_of_children,net_yearly_income,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,...,occupation_type_Low-skill Laborers,occupation_type_Managers,occupation_type_Medicine staff,occupation_type_Private service staff,occupation_type_Realty agents,occupation_type_Sales staff,occupation_type_Secretaries,occupation_type_Security staff,occupation_type_Unknown,occupation_type_Waiters/barmen staff
0,46,0.0,107934.04,1.0,1.0,33070.28,18690.93,73,544.0,2,...,0,0,0,0,0,0,0,0,1,0
1,29,0.0,109862.62,2.0,0.0,15329.53,37745.19,52,857.0,0,...,0,0,0,0,0,0,0,0,0,0
2,37,0.0,230153.17,2.0,0.0,48416.60,41598.36,43,650.0,0,...,0,0,0,0,0,0,0,0,0,0
3,39,0.0,122325.82,2.0,0.0,22574.36,32627.76,20,754.0,0,...,0,0,0,0,0,0,0,0,0,0
4,46,0.0,387286.00,1.0,0.0,38282.95,52950.64,75,927.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45523,55,2.0,96207.57,4.0,0.0,11229.54,29663.83,82,907.0,0,...,0,0,0,0,0,0,0,0,1,0
45524,31,0.0,383476.74,2.0,1.0,43369.91,139947.16,32,679.0,0,...,0,0,0,0,0,0,0,0,0,0
45525,27,0.0,260052.18,2.0,0.0,22707.51,83961.83,46,727.0,0,...,0,0,0,0,0,0,0,0,0,0
45526,32,0.0,157363.04,2.0,0.0,20150.10,25538.72,92,805.0,0,...,0,0,0,0,0,0,0,0,0,0
45527,38,1.0,316896.28,3.0,0.0,34603.78,36630.76,26,682.0,0,...,0,0,0,0,0,0,0,0,1,0

In [31]:
#Export dataframe to CSV
train_df_cleaned.to_csv("dataset/train_data_cleaned.csv", index=False, header=True)

In [ ]:
#End clean up

-------------

In [110]:
#Ricardo Start

In [111]:
train_df_cleaned

,age,no_of_children,net_yearly_income,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,...,occupation_type_Low-skill Laborers,occupation_type_Managers,occupation_type_Medicine staff,occupation_type_Private service staff,occupation_type_Realty agents,occupation_type_Sales staff,occupation_type_Secretaries,occupation_type_Security staff,occupation_type_Unknown,occupation_type_Waiters/barmen staff
0,46,0.0,107934.04,1.0,1.0,33070.28,18690.93,73,544.0,2,...,0,0,0,0,0,0,0,0,1,0
1,29,0.0,109862.62,2.0,0.0,15329.53,37745.19,52,857.0,0,...,0,0,0,0,0,0,0,0,0,0
2,37,0.0,230153.17,2.0,0.0,48416.60,41598.36,43,650.0,0,...,0,0,0,0,0,0,0,0,0,0
3,39,0.0,122325.82,2.0,0.0,22574.36,32627.76,20,754.0,0,...,0,0,0,0,0,0,0,0,0,0
4,46,0.0,387286.00,1.0,0.0,38282.95,52950.64,75,927.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45523,55,2.0,96207.57,4.0,0.0,11229.54,29663.83,82,907.0,0,...,0,0,0,0,0,0,0,0,1,0
45524,31,0.0,383476.74,2.0,1.0,43369.91,139947.16,32,679.0,0,...,0,0,0,0,0,0,0,0,0,0
45525,27,0.0,260052.18,2.0,0.0,22707.51,83961.83,46,727.0,0,...,0,0,0,0,0,0,0,0,0,0
45526,32,0.0,157363.04,2.0,0.0,20150.10,25538.72,92,805.0,0,...,0,0,0,0,0,0,0,0,0,0
45527,38,1.0,316896.28,3.0,0.0,34603.78,36630.76,26,682.0,0,...,0,0,0,0,0,0,0,0,1,0

In [112]:
# Assign X (data) and y (target)
X = train_df_cleaned.drop("credit_card_default", axis=1)
y = train_df_cleaned["credit_card_default"]
print(X.shape, y.shape)

(43508, 32) (43508,)

In [113]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [114]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)


X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [115]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1000)
classifier

LogisticRegression(max_iter=1000)

In [116]:
#Fit(train) 

lgR=classifier.fit(X_train_scaled, y_train)

In [117]:
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 0.9802335202721338
Testing Data Score: 0.9786705893169072

In [118]:
predictions = classifier.predict(X_test)
print(f"First 35 Predictions:   {predictions[:35]}")
print(f"First 35 Actual labels: {y_test[:35].tolist()}")

First 35 Predictions:   [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
First 35 Actual labels: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [119]:
results=pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [108]:
results

       Prediction  Actual
0               0       0
1               0       0
2               0       0
3               0       0
4               0       0
...           ...     ...
10872           0       0
10873           0       0
10874           0       0
10875           0       0
10876           0       0

[10877 rows x 2 columns]

In [ ]:
#Ricardo End

-------------

In [ ]:
#Kelly Start

In [ ]:
#Kelly End

-------------

In [ ]:
#Timmy Start

In [ ]:
#Timmy End

-------------

In [ ]:
#Feipeng Start

In [ ]:
#Feipeng End

-------------

In [ ]:
#Jumaan Start

In [ ]:
#Jumaan End