In [1]:
from sklearn import tree
import pandas as pd

In [2]:
train_data = pd.read_csv("dataset/train_data_cleaned.csv")
train_data.head()

,customer_id,name,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,CST_115179,ita Bose,46,F,N,Y,0.0,107934.04,Unknown,1.0,1.0,33070.28,18690.93,73,544.0,2,1,1
1,CST_121920,Alper Jonathan,29,M,N,Y,0.0,109862.62,Laborers,2.0,0.0,15329.53,37745.19,52,857.0,0,0,0
2,CST_109330,Umesh Desai,37,M,N,Y,0.0,230153.17,Laborers,2.0,0.0,48416.60,41598.36,43,650.0,0,0,0
3,CST_128288,Rie,39,F,N,Y,0.0,122325.82,Core staff,2.0,0.0,22574.36,32627.76,20,754.0,0,0,0
4,CST_151355,McCool,46,M,Y,Y,0.0,387286.00,Core staff,1.0,0.0,38282.95,52950.64,75,927.0,0,0,0

In [3]:
train_data_drop = train_data.drop(['customer_id', 'name'], axis=1)
train_data_drop

,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months,credit_card_default
0,46,F,N,Y,0.0,107934.04,Unknown,1.0,1.0,33070.28,18690.93,73,544.0,2,1,1
1,29,M,N,Y,0.0,109862.62,Laborers,2.0,0.0,15329.53,37745.19,52,857.0,0,0,0
2,37,M,N,Y,0.0,230153.17,Laborers,2.0,0.0,48416.60,41598.36,43,650.0,0,0,0
3,39,F,N,Y,0.0,122325.82,Core staff,2.0,0.0,22574.36,32627.76,20,754.0,0,0,0
4,46,M,Y,Y,0.0,387286.00,Core staff,1.0,0.0,38282.95,52950.64,75,927.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43503,55,F,N,N,2.0,96207.57,Unknown,4.0,0.0,11229.54,29663.83,82,907.0,0,0,0
43504,31,F,N,Y,0.0,383476.74,Accountants,2.0,1.0,43369.91,139947.16,32,679.0,0,0,0
43505,27,F,N,Y,0.0,260052.18,Core staff,2.0,0.0,22707.51,83961.83,46,727.0,0,0,0
43506,32,M,Y,N,0.0,157363.04,Laborers,2.0,0.0,20150.10,25538.72,92,805.0,0,0,0
43507,38,M,N,Y,1.0,316896.28,Unknown,3.0,0.0,34603.78,36630.76,26,682.0,0,0,0

In [4]:
train_data_clean = pd.get_dummies(train_data_drop, columns=['gender', 'owns_car', 'owns_house',
       'occupation_type'], drop_first=True)

train_data_clean

,age,no_of_children,net_yearly_income,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,...,occupation_type_Low-skill Laborers,occupation_type_Managers,occupation_type_Medicine staff,occupation_type_Private service staff,occupation_type_Realty agents,occupation_type_Sales staff,occupation_type_Secretaries,occupation_type_Security staff,occupation_type_Unknown,occupation_type_Waiters/barmen staff
0,46,0.0,107934.04,1.0,1.0,33070.28,18690.93,73,544.0,2,...,0,0,0,0,0,0,0,0,1,0
1,29,0.0,109862.62,2.0,0.0,15329.53,37745.19,52,857.0,0,...,0,0,0,0,0,0,0,0,0,0
2,37,0.0,230153.17,2.0,0.0,48416.60,41598.36,43,650.0,0,...,0,0,0,0,0,0,0,0,0,0
3,39,0.0,122325.82,2.0,0.0,22574.36,32627.76,20,754.0,0,...,0,0,0,0,0,0,0,0,0,0
4,46,0.0,387286.00,1.0,0.0,38282.95,52950.64,75,927.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43503,55,2.0,96207.57,4.0,0.0,11229.54,29663.83,82,907.0,0,...,0,0,0,0,0,0,0,0,1,0
43504,31,0.0,383476.74,2.0,1.0,43369.91,139947.16,32,679.0,0,...,0,0,0,0,0,0,0,0,0,0
43505,27,0.0,260052.18,2.0,0.0,22707.51,83961.83,46,727.0,0,...,0,0,0,0,0,0,0,0,0,0
43506,32,0.0,157363.04,2.0,0.0,20150.10,25538.72,92,805.0,0,...,0,0,0,0,0,0,0,0,0,0
43507,38,1.0,316896.28,3.0,0.0,34603.78,36630.76,26,682.0,0,...,0,0,0,0,0,0,0,0,1,0

In [5]:
target = train_data_clean["credit_card_default"]
target_names = ["no", "yes"]

In [6]:
train_data_df = train_data_clean.drop("credit_card_default", axis=1)

feature_names = train_data_df.columns
train_data_df

,age,no_of_children,net_yearly_income,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,...,occupation_type_Low-skill Laborers,occupation_type_Managers,occupation_type_Medicine staff,occupation_type_Private service staff,occupation_type_Realty agents,occupation_type_Sales staff,occupation_type_Secretaries,occupation_type_Security staff,occupation_type_Unknown,occupation_type_Waiters/barmen staff
0,46,0.0,107934.04,1.0,1.0,33070.28,18690.93,73,544.0,2,...,0,0,0,0,0,0,0,0,1,0
1,29,0.0,109862.62,2.0,0.0,15329.53,37745.19,52,857.0,0,...,0,0,0,0,0,0,0,0,0,0
2,37,0.0,230153.17,2.0,0.0,48416.60,41598.36,43,650.0,0,...,0,0,0,0,0,0,0,0,0,0
3,39,0.0,122325.82,2.0,0.0,22574.36,32627.76,20,754.0,0,...,0,0,0,0,0,0,0,0,0,0
4,46,0.0,387286.00,1.0,0.0,38282.95,52950.64,75,927.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43503,55,2.0,96207.57,4.0,0.0,11229.54,29663.83,82,907.0,0,...,0,0,0,0,0,0,0,0,1,0
43504,31,0.0,383476.74,2.0,1.0,43369.91,139947.16,32,679.0,0,...,0,0,0,0,0,0,0,0,0,0
43505,27,0.0,260052.18,2.0,0.0,22707.51,83961.83,46,727.0,0,...,0,0,0,0,0,0,0,0,0,0
43506,32,0.0,157363.04,2.0,0.0,20150.10,25538.72,92,805.0,0,...,0,0,0,0,0,0,0,0,0,0
43507,38,1.0,316896.28,3.0,0.0,34603.78,36630.76,26,682.0,0,...,0,0,0,0,0,0,0,0,1,0

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_data_df, target, random_state=42)

In [9]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [10]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9737059851061873

In [12]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9809690171922405

In [13]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.4009038821527983, 'credit_score'),
 (0.20322815390414534, 'prev_defaults'),
 (0.16415847164216182, 'default_in_last_6months'),
 (0.07760361477891457, 'credit_limit_used(%)'),
 (0.029072401950955035, 'yearly_debt_payments'),
 (0.028763846849310562, 'net_yearly_income'),
 (0.028717524608656654, 'credit_limit'),
 (0.02209911663081151, 'age'),
 (0.00782201622487324, 'total_family_members'),
 (0.0051350369060246485, 'no_of_children'),
 (0.004330748128905912, 'owns_house_Y'),
 (0.0041544185681184264, 'owns_car_Y'),
 (0.0033611865962625584, 'migrant_worker'),
 (0.003346122046482482, 'gender_M'),
 (0.002349618720227883, 'occupation_type_Laborers'),
 (0.0021862682926199104, 'occupation_type_Unknown'),
 (0.0018245333948525618, 'occupation_type_Sales staff'),
 (0.0016950673009946122, 'occupation_type_Core staff'),
 (0.001470128343524001, 'occupation_type_Drivers'),
 (0.0014224211721039501, 'occupation_type_Managers'),
 (0.0011280227624913379, 'occupation_type_Cooking staff'),
 (0.0010558276584622976, 'occupation_type_High skill tech staff'),
 (0.000989232301386619, 'occupation_type_Security staff'),
 (0.0007774292985972587, 'occupation_type_Medicine staff'),
 (0.0005362007006895031, 'occupation_type_Cleaning staff'),
 (0.0004902328752752085, 'occupation_type_Low-skill Laborers'),
 (0.00044961823101190545, 'occupation_type_Waiters/barmen staff'),
 (0.000306589981768419, 'occupation_type_Private service staff'),
 (0.00023453797008142043, 'occupation_type_Secretaries'),
 (0.00021165590128835484, 'occupation_type_Realty agents'),
 (0.00016409558142717285, 'occupation_type_HR staff'),
 (1.1978524776458533e-05, 'occupation_type_IT staff')]